.title{
    font-family: 'Rochester', cursive;
    font-size:50px;
    color: #31a499;
}
body{
    font-family: 'Anuphan', sans-serif;
    font-size: 20px;
}
article{
    margin: 50px 50px;
}
.bar a{
    text-decoration: none;
    color: #E468B4;
    margin-left: 60px;
}
.bar{
    margin-bottom: 20px;
}
.bar a:hover{
    font-weight: 900;
    border-bottom-style: solid;
}
h2{
    font-size: 40px; 
    color: #e468b4;
}
.subheading{
    font-size: 50px; 
    color: #e468b4;
    margin-left: 10px;
}
.quote{
    font-size: 30px;
    padding: 20px;
}