.tourist-locations{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .tourist-locations div{
    width:30%;
    height: auto;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 7px 0px #0000007a;
}
.tourist-locations div:hover{
    width:32%;
    height: 600px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 7px 0px #0000007a;
}
.tourist-locations div:hover img{
    width: 375px;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.tourist-locations img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.tourist-locations p{
    padding: 10px;
}
h3{
    font-size: 30px; 
    color: #e468b4;
    margin-top: -5px;
    margin-left: 5px;
}

@media all and (max-width:1050px){
    h3{
        font-size: 20px;
    }
    body{
        font-size: 15px;
    }
}
@media all and (max-width:750px){
    .place, .place img{
        width: 100%;
    }
    .tourist-locations, .tourist-locations img{
        width: 100%;
    }
}